<ion-header >
  <ion-navbar color="dark">
    <ion-title>Activo</ion-title>
     <ion-buttons end>
        <button ion-button icon-only (click)="close()"><ion-icon name="close"></ion-icon></button>
      </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content >
	<form>
		<ion-list>
	     <ion-item>
	        <ion-label stacked>Cuenta</ion-label>
	        <ion-select  [(ngModel)]="form.id_cuenta" name="cuenta" (ngModelChange)="changeCuenta($event)">
		      <ion-option *ngFor='let cuenta of cuentas' [value]="cuenta.id">
		      	{{cuenta.cuenta}}
		      </ion-option>
		    </ion-select>
	      </ion-item>
  
	      <ion-item>
	        <ion-label stacked>Clase</ion-label>
	       <ion-select  [(ngModel)]="form.id_clase" name="clase" (ngModelChange)="changeClase($event)">
		      <ion-option *ngFor='let clase of clases' [value]="clase.id">
		      	{{clase.clase}}
		      </ion-option>
		    </ion-select>
	      </ion-item>
		
	    <ion-item>
	        <ion-label stacked>Sub Clase</ion-label>
	       <ion-select  [(ngModel)]="form.id_sub_clase" name="sub_clase" (ngModelChange)="changeSubClase($event)">
		       <ion-option *ngFor='let subClase of subClases' [value]="subClase.id">
		      	{{subClase.sub_clase}}
		      </ion-option>
		    </ion-select>
	      </ion-item>
		

		<ion-item>
	        <ion-label stacked>Denomicación</ion-label>
	       <ion-select  [(ngModel)]="form.id_denominacion" name="denominacion">
		      <ion-option *ngFor='let denominacion of denominaciones' [value]="denominacion.id">
		      	{{denominacion.denominacion}}
		      </ion-option>
		    </ion-select>
	      </ion-item>
		
				
		<ion-item>
	        <ion-label stacked>Dependencia</ion-label>
	       <ion-select  [(ngModel)]="form.id_dependencia" name="dependencia">
		      <ion-option *ngFor='let dependencia of dependencias' [value]="dependencia.id">
		      	{{dependencia.dependencia}}
		      </ion-option>
		    </ion-select>
	      </ion-item>
		<ion-item-divider color="dark">
		  Buscar Responsable
		</ion-item-divider>
		<ion-auto-complete [dataProvider]="autoComplete" 
		 [options]="{ placeholder : 'Nombre del responsable' }"
		 (itemSelected)="getResponsable($event)"
		 ></ion-auto-complete>
		
		  <ion-item>
	        <ion-label stacked>Responsable</ion-label>

	        <ion-select   [(ngModel)]="form.id_responsable" name="nombre_responsable">
		      <ion-option *ngFor='let representante of representantes' [value]="representante.id">
		      	{{representante.nombre}}
		      </ion-option>
		    </ion-select>
	      </ion-item>

		<ion-item-divider color="dark">
		  Escanear Código
		  <button  color="light" ion-button item-end outline (click)="scanCode()">
		      Agregar
		    </button>
		</ion-item-divider>
	      <ion-item>
	        <ion-label stacked>Código de Barras</ion-label>
	        <ion-input clearInput type="text"  [(ngModel)]="form.codigo_de_barras" name="codigo_de_barras"></ion-input>
	      </ion-item>
		

	      <ion-item>
	        <ion-label stacked>Descripción</ion-label>
	        <ion-input clearInput type="text"  [(ngModel)]="form.descripcion" name="descripcion" ></ion-input>
	      </ion-item>

	       <ion-item>
	        <ion-label stacked>Estado</ion-label>
	        <ion-select  [(ngModel)]="form.id_estado" name="estado">
		       <ion-option *ngFor='let estado of estados' [value]="estado.id">
		      	{{estado.estado}}
		      </ion-option>
		    </ion-select>
	      </ion-item>
			<ion-item-divider color="dark">
			  Fotografía
			  <button  color="light" ion-button item-end outline (click)="addPhoto()">
			      Agregar
			    </button>
			</ion-item-divider>
			<img width="100" [src]="form.imagen" *ngIf="form.imagen">

	  </ion-list>

      <button ion-button round color="dark" type="button" block (click)="saveActive()">Guardar</button>
    </form>
</ion-content>
