<ion-header>
  <ion-navbar  color="dark">
     <ion-buttons start>
  		<button ion-button icon-only >
        	<ion-icon name="sync" (click)="sync()"></ion-icon>
      	</button>
      </ion-buttons>
    <ion-title>
      Activos 
    </ion-title>
     <ion-buttons end>
      <button ion-button icon-only (click)="addActive(item)">
        <ion-icon name="add-circle"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
	<ion-searchbar
	  [(ngModel)]="searchTerm"
	  [debounce]="500"
	   type="text"
	  placeholder="Ingrese el Código del Activo">
	</ion-searchbar>
	<ion-list>
	 <ion-item-sliding  *ngFor="let item of items | search:searchTerm" >
	    <ion-item >
	      <h2>Código de barra <span class="codigo">{{item.codigo_de_barras}}</span></h2>
	      <h3>Agrego el {{item.date_time |date:'dd/MM/yyyy'}} a las {{item.date_time |date:'hh:mm:ss'}}</h3>
	      <ion-icon color="danger" *ngIf="item.error" name="cloud-outline" item-end></ion-icon>
	    </ion-item>

	    <ion-item-options side="right"> 
	    	 <button ion-button color="danger" (click)="showConfirm(item)">
	        	<ion-icon name="trash"></ion-icon>
	        	Borrar
	        </button>
	        
	        <button ion-button (click)="editActive(item)">
	           <ion-icon name="build"></ion-icon>
	          	Editar
	        </button>
	    </ion-item-options>
	  </ion-item-sliding>
	</ion-list>
</ion-content>
