
<ion-header >
  <ion-navbar color="dark">
    <ion-title>Configuración</ion-title>
  </ion-navbar>
</ion-header>



<ion-content>
	<form [formGroup]="form" (ngSubmit)="login()" *ngIf="!isLogin">
		<ion-list >
	      <ion-item>
	        <ion-label stacked>Usuario</ion-label>
	        <ion-select  [(ngModel)]="cacheUser" formControlName="usuario"  cancelText="Cancelar" >
		      <ion-option *ngFor='let user of users' [value]="user">
		      	{{user.username}}
		      </ion-option>
		    </ion-select>
	      </ion-item>

	        
	      <ion-item>
	        <ion-label stacked>Clave</ion-label>
	        <ion-input clearInput type="password"  [(ngModel)]="password" formControlName="password" ></ion-input>
	      </ion-item> 
	      
	     


	  	</ion-list>
		<div padding>
		    <button ion-button  color="dark" type="submit" block  [disabled]="!form.valid">Iniciar Sesión</button>
		</div>
	</form>	

	<div padding *ngIf="isLogin">
		    <button ion-button  color="dark" type="submit" block  (click)="logout()">Cerrar Sesión</button>
		</div>

    <div padding>
    	<button ion-button  color="primary" type="button" block (click)="showEstado()">Ver Estado</button>
	</div>
</ion-content>
