
<ion-header >
  <ion-navbar color="dark">
    <ion-title>Configuración</ion-title>
    <ion-buttons end>
      <button ion-button color="light" outline (click)="showState()">
        Estado
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>



<ion-content>
	<form [formGroup]="form" (ngSubmit)="login()" *ngIf="!isLogin">
		<ion-list >
	      <ion-item>
	        <ion-label stacked>Usuario</ion-label>
	        <ion-select  [(ngModel)]="cacheUser" formControlName="usuario"  cancelText="Cancelar" >
		      <ion-option *ngFor='let user of users' [value]="user">
		      	{{user.username}}
		      </ion-option>
		    </ion-select>
	      </ion-item>

	        
	      <ion-item>
	        <ion-label stacked>Clave</ion-label>
	        <ion-input clearInput type="password"  [(ngModel)]="password" formControlName="password" ></ion-input>
	      </ion-item> 
	      
	     


	  	</ion-list>
		<div padding>
		    <button ion-button  color="dark" type="submit" block  [disabled]="!form.valid">Iniciar Sesión</button>
		</div>
	</form>	

	<div padding *ngIf="isLogin">
		<ion-list>
				<ion-item>
				    <ion-avatar item-start>
				      <img src="assets/profile.jpg">
				    </ion-avatar>
				   <h2>Usuario</h2>
				   <h3>{{username}}</h3>


				</ion-item>

				 <ion-item>
				  	 <h3>Sesión Iniciada</h3>
				   <p>Correctamente</p>
				    <button ion-button outline item-end icon-left (click)="logout()">
				      <ion-icon name="exit"></ion-icon>
				       Cerrar Sesión
				    </button>
				  </ion-item> 
								     
				   
				    
		</ion-list>
		
	</div>

</ion-content>
