
<ion-header>
	<ion-toolbar color='dark'>
		<ion-buttons solid start (click)="scanCode()">
			<button ion-button color="light" outline>
				Escanear
			</button>
		</ion-buttons>

		<ion-searchbar  
		 [(ngModel)]="assetId"
		 type="text"
		placeholder="Código">
		</ion-searchbar>
		<ion-buttons solid end (click)="findAsset()">
			<button ion-button color="light" outline>
				Buscar
			</button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>


<ion-content >
	<div *ngIf="searching" class="spinner-container">
        <ion-spinner></ion-spinner>
	</div>
	<ion-list *ngIf="!searching">
       
           {{this.asset}}
    </ion-list>
 

</ion-content>
