page-find {
  .spinner-container {
        width: 100%;
        text-align: center;
        padding: 10px;
    }

   img{
		 height: 30vh;
	    width: auto;
	    margin: auto;
	    display: block;
	    padding-top: 5px;
	}
}